@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */

main{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}
.display-flex {
    display: flex;
}

.dark01{
    color: #131313;
}

.dark02{
    color: #424242;
}

.dark03{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.medium{
    font-weight: 500;
}

.orange{
    color: #FF900E;
}

/* header styles */

.navbar{
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.brand{
    font-weight: 700;
    font-size: 2rem;
}

.nav-item{
    list-style: none;
    margin-left: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner-info, .banner-btn{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

.banner-info, .banner-btn{
    text-align: center;
}

.banner-info{
    padding-top: 100px;
    width: 60%;
    text-align: center;
}

.banner-info h1{
    font-size: 4rem;
    font-weight: 700;
}

.banner-info p{
    padding-top: 20px;
    /* font-size: 16px; */
}

.banner-btn button, .our-features button{
    border: none;
    text-decoration: none;
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.25rem;
}

.banner-btn{
    padding-top: 32px;
}

.banner{
    /* border: 1px solid black; */
    text-align: center;
    width: 100%;
    max-width: 1440px;
    
}

.banner img{
    width: 75%;
    height: auto;
    padding: 50px 0 45px 0;
    
    /* height: 620px; */
    justify-content: center;
    border-radius: 8px;
    
}

/* Main styles */

.features{
    align-items: center;
    gap: 60px;
}

.feature-img-container img, .love-container img{
    width: 100%;
    /* height: auto; */
    border-radius: 8px;
}
.feature-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding-top: 85px;
    padding-bottom: 130px;
}

.our-features{
    max-width: 530px;
}

.features-title, .sponsor-title, .love-title{
    font-size: 2rem;
}

.features-des{
    line-height: 26px;
    padding-top: 25px;
    padding-bottom: 32px;

}

.love-container img{
    width: 100%;
    max-width: 700px;
    height: auto;
}

.love-container{
    gap: 100px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.love-container{
    display: flex;
}

.love-info{
    align-items: center;
    max-width: 400px;
}

#love-title-style{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.love-title{
    padding-bottom: 20px;
}

.love-container p{
    line-height: 26px;
    /* padding-top: 20px; */
}

.love-card{
    padding-top: 20px;
}

.love-card-info{
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 #0000001a;
    margin-top: 20px;
    padding: 30px;
}

#love-badge{
    padding: 45px 42px;
    border: none;
    background-color: #FF900E;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 8px;
    margin-left: -60px;
    margin-top: -72px;
}

#love-badge #love-year{
    font-size: 4rem;
    font-weight: 700;
}

.card-title{
    font-size: 1.25rem;
    font-weight: 600;
}

.card-des{
    padding-top: 9px;
}

.facts{
    padding-top: 100px;
    padding-bottom: 150px;
}

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 80px;
    /* border: 1px solid black; */
    justify-items: center;
}

.card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.facts p{
    padding-top: 20px;
    line-height: 26px;
    /* width: 540px; */
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    padding-top: 9px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    padding-top: 5px;
}

.sponsor-info{
    text-align: center;
    max-width: 540px;
    margin: 50px auto;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img{
    filter: grayscale(100%);
}

.footer-item{
    /* background-color: #FFF4E7; */
    text-align: center;
    margin-top: 100px;
    margin-bottom: 200px;
    width: 100%;
    
    
}

.footer-item p{
    background-color: #FFF4E7;
    padding: 39px;
    margin: 0 200px;
    border-radius: 8px;
}

/* responsive media query */

@media screen and (max-width: 576px){

    .banner-btn button, .our-features button{
    border: none;
    text-decoration: none;
    background-color: #FF900E;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.80rem;
}
    .navbar , .nav-links{
        flex-direction: column;
    }

    .banner-info h1{
    font-size: 2.5rem;
    font-weight: 700;
}

.banner-info{
    padding-top: 50px;
}

.features{
    flex-direction: column;
    gap: 5px;
}
.feature-img-container{
    padding-bottom: 50px;
}

.our-features{
    padding-bottom: 40px;
}


.facts{
    padding-top: 50px;
    padding-bottom: 80px;
}

.facts-container, .love-container{
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 100%;
    padding-top: 30px;
    /* border: 1px solid red; */
}

#love-badge{
    padding: 30px 35px;
    border: none;
    background-color: #FF900E;
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 8px;
    margin-left: -40px;
    margin-top: -72px;
}

#love-badge #love-year{
    font-size: 1.5rem;
    font-weight: 700;
}

.facts p{
    width: 100%;
    
}

.sponsor-companies{
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center;
}

.footer-item p{
    background-color: #FFF4E7;
    padding: 39px;
    margin: 0 45px;
    border-radius: 8px;
    line-height: 25px;
}
}

@media screen and (min-width: 577px) and (max-width: 992px){
    .features{
        flex-direction: column;
        gap: 30px;
    }

    .feature-img-container{
    padding-bottom: 50px;
}
.our-features{
    padding-bottom: 40px;
}

.facts-container, .love-container{
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    padding-top: 30px;
    justify-items: center;
    /* border: 1px solid red; */
}

.facts{
    padding-top: 80px;
    padding-bottom: 50px;
}

.love-container{
    gap: 50px;
    /* width: 100%; */
    /* max-width: 1440px; */
    /* margin: 0 auto; */
}

.love-info{
    align-items: center;
    max-width: 100%;
}

.sponsor-companies{
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
}

.footer-item p{
    background-color: #FFF4E7;
    padding: 39px;
    margin: 0 45px;
    border-radius: 8px;
    line-height: 25px;
}
}




